<div class="footer">
    <div class="first">
       <h2> Useful Links</h2>
       <ul><li class="nav-item2">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item2">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
            <li class="nav-item2">
              <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
            </li></ul>
    </div>
    <div class="first">
      <h2> Usage</h2>
      <ul><li class="nav-item2">
          <a class="nav-link active" aria-current="page" href="#">Terms & Conditions</a>
        </li>
        <li class="nav-item2">
          <a class="nav-link active" aria-current="page" href="#">Privacy and Policy</a>
        </li></ul>
  </div>
  <div class="first">
      <h2> Information</h2>
     <ul> <li class="nav-item2">
      <a class="nav-link active" aria-current="page" href="#">Payment methods(PayPal,COD)</a>
        </li>
        <li class="nav-item2">
          <a class="nav-link active" aria-current="page" href="#">Product returns(3 days from delivery)</a>
        </li>
        <li class="nav-item2">
          <a class="nav-link active" aria-current="page" href="#">Shipping methods (By land)</a>
        </li></ul>
  </div>
</div>