<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style></style>
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <section class="switchable">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="switchable__text">
                            <form>
                                <div class="row">
                                    <div class="col-12"> <input type="text" name="First Name" placeholder="Your Name"> </div>
                                    <div class="col-12"> <input type="email" name="Email Address" placeholder="Email Address"> </div>
                                    <div class="col-12"> <input type="phoneno." name="Phone number" placeholder="Phone Number"> </div>
                                    <div class="col-12"> <input type="number" name="pincode" placeholder="Pincode"> </div>
                                    <div class="col-12"> <input type="text" name="state" placeholder="state"> </div>
                                    <div class="col-12"> <input type="text" name="country" placeholder="state" value="Oman" disabled> </div>
                                    <div class="col-12"> <button type="submit" class="btn btn--primary">Create Account</button> </div>
                                    <hr>
                                    <div class="col-12"> <span class="type--fine-print">By signing up, you agree to the <a href="#">Terms of Service</a></span> </div>
                                </div>
                            </form>
                        </div>
            </div>
</body>
</html>